/* ============================================================================
    Media Quary 👾🎮🎛️
    ===========================================================================
*/
/* 

---> Media Query <---

Breakpoint	Class infix	Dimensions
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px

*/
@media screen and (min-width: 500px) {
}
@media screen and (min-width: 509px) {
}
@media screen and (min-width: 640px) {
  .header-content {
    flex-direction: row;
    align-items: center;
    /* background-color: #65df95; */
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* background-color: #96a4e7; */
    align-content: center;
    width: calc(var(--spacing) * 70);
  }

  .user-wrapper {
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    /* background-color: #e7000b; */
    justify-self: end;
    order: 3;
  }
  .user-status {
    order: 2;
    width: 9rem;
  }
}

@media screen and (min-width: 768px) {
  .dashboard-container {
    display: flex;
  }
  .main-container {
    padding: 3.2rem;
  }
  .header {
    padding: calc(var(--spacing) * 3);
    border-radius: 0.8rem;
    box-shadow: 0 0 0.5rem var(--color-black-200);
  }
  .logo-icon-wrapper {
    width: calc(var(--spacing) * 16);
    height: calc(var(--spacing) * 16);
  }
  .logo-title h1 {
    font-size: calc(var(--spacing) * 9);
  }
  .logo-title span {
    font-size: calc(var(--spacing) * 3.5);
  }
  /* ============================================================================
    2. Aside Section ---> User Controls and Actions 👾🎮🎛️
    ===========================================================================
*/
  /* For testing  */
  .dashboard-container {
    /* For testing */
    /* background-color: #005f78; */
  }
  .aside-display-status {
    display: block;
  }
  .aside-lg-status {
    display: none;
  }
  .main-container {
    margin-right: calc(var(--spacing) * 17);
  }
  .aside-nav-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    overflow-y: auto;
    width: calc(var(--spacing) * 17);
    z-index: 999;
    background-color: white;
  }

  .aside-nav-mediaum {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: calc(var(--spacing) * 4);
    padding: calc(var(--spacing) * 3);
    width: 100%;
    height: 100vh;
  }
  .aside-logo-wrapper {
    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);
    background-color: var(--color-blue-500);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(var(--spacing) * 2);
    padding: var(--spacing);
    margin-bottom: calc(var(--spacing) * 8);
  }
  .aside-nav-list {
    /* background-color: #dbfce7; */
    margin-bottom: calc(var(--spacing) * 5);
  }
  .aside-nav-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--spacing) * 6);
  }
  .aside-nav-list ul li a i {
    font-size: calc(var(--spacing) * 4);
  }
  .aside-nav-list ul li a img {
    width: calc(var(--spacing) * 5);
  }
  .aside-quick-list ul .active-list-box {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);
    padding: calc(var(--spacing) * 2);
    border-radius: calc(var(--spacing) * 3);
    border: 0.1rem solid var(--border-color);
  }
  .aside-quick-list .active-list-box a i {
    color: var(--font-color);
  }
  .aside-nav-list ul .md-home a i {
    color: var(--color-blue-400);
  }
  .aside-nav-list ul li a i {
    color: var(--color-black-200);
  }

  /* Aside (Mediam Size ) action list */
  .aside-quick-list ul {
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  /* mediam size link 2 */
  .aside-nav-list .md-action-link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);
    padding: calc(var(--spacing) * 2);
    border-radius: calc(var(--spacing) * 3);
    border-style: 0.1rem solid var(--color-blue-200);
    transition: background-color 0.2s;
  }

  .aside-nav-list .md-action-link:hover {
    background-color: var(--color-gray-100);
  }

  /* ============================================================================
    3. Finance cards Section ---> User Over views cards 👾🎮🎛️
    ===========================================================================
*/
  .finance-cards-container {
    flex-direction: row;
    gap: calc(var(--spacing) * 5);
    /* For testing */
    /* background-color: #ba4d00; */
    justify-content: space-between;
  }

  .card {
    flex: 1 1 0%;
  }

  /* Grid Layout for finance widgets cards */

  .finance-widgets-container {
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
      /* Row 1 */
      "activities income"
      /* Row 2 */
      "transactions transactions"
      /* Row 3 */
      "transactions transactions"
      /* Row 4 */
      "bills summary"
      /* Row 5 */
      "budget payment"
      /* Row 6 */
      "budget payment";
  }

  .recent-activities-card {
    grid-area: activities;
  }
  .recent-transactions-card {
    grid-area: transactions;
  }
  .monthly-bills-card {
    grid-area: bills;
  }
  .badget-overview-card {
    grid-area: budget;
  }
  .income-vs-expenses-card {
    grid-area: income;
  }
  .account-summary-card {
    grid-area: summary;
  }
  .payment-card {
    grid-area: payment;
  }
}

@media screen and (min-width: 1024px) {
  /* ============================================================================
    3. Finance cards Section ---> User Over views cards 👾🎮🎛️
    ===========================================================================
*/
  .card.income-card p {
    font-size: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .aside-md-status {
    display: none;
  }
  .aside-lg-status {
    display: block;
  }
  /* ============================================================================
    2. Aside Section ---> User Controls and Actions 👾🎮🎛️
    ===========================================================================
*/

  .main-container {
    margin-right: calc(var(--spacing) * 65);
  }
  .aside-nav-container {
    width: calc(var(--spacing) * 65);
    padding: calc(var(--spacing) * 6);
  }
  .aside-nav-larg {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 8);
  }
  .logo-row {
    /* background-color: #65df95; */
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 4);
  }
  .logo-text-wrapper h2 {
    font-size: calc(var(--spacing) * 9);
    line-height: 1.3;
  }
  .logo-text-wrapper span {
    font-size: calc(var(--spacing) * 3);
    font-weight: 700;
    color: var(--color-black-200);
  }
  .lg-navbar-links {
    /* background-color: lightcyan; */
  }
  .lg-navbar-links ul,
  .lg-navbar-actions ul {
    /* background-color: lightskyblue; */
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4);
  }
  .lg-navbar-links ul li,
  .lg-navbar-actions ul li {
    border-radius: 0.8rem;
  }
  .lg-navbar-links ul li a,
  .lg-navbar-actions ul li a {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    padding: 1.2rem 1.6rem;
    /* Icone size */
    font-size: 1.8rem;
  }
  .lg-navbar-links ul li a span,
  .lg-navbar-actions ul li a span {
    /* Icone size */
    font-size: 1.6rem;
  }
  .badget-icon {
    width: calc(var(--spacing) * 6);
  }
  .badget-icon img {
    display: block;
  }
  /* Row 3 */
  .lg-navbar-actions {
    /* background-color: lightpink; */
  }
  .lg-navbar-actions > span {
    font-size: 1.6rem;
    margin-bottom: calc(var(--spacing) * 6);
  }

  /* style the large Aside navbar  */
  .lg-navbar-links .lg-home a {
    background-color: var(--color-blue-300);
    border: 0.1rem solid var(--color-blue-100);
    color: var(--color-blue-500);
    border-radius: 0.8rem;
  }

  .lg-navbar-links .action-link a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.8rem;
    transition: color 0.2s, background-color 0.2s;
  }
  .lg-navbar-links .action-link a:hover {
    background-color: var(--color-gray-100);
  }

  .lg-navbar-actions ul li a :link,
  .lg-navbar-actions ul li a:visited,
  .lg-navbar-links .action-link a:visited,
  .lg-navbar-links .action-link a:link {
    color: var(--color-gray-200);
  }
  .lg-navbar-links .action-link a span {
    color: var(--color-gray-200);
    font-weight: 600;
  }
  .lg-navbar-links .action-link a .transaction-icon i {
    color: var(--color-gray-200);
    font-size: 1.4rem;
  }

  /* Fast Action larg navbar */
  .lg-navbar-actions ul .fast-action-link a .fast-action-icon i {
    font-size: 1.2rem;
    color: var(--font-color);
  }
  .lg-navbar-actions ul .fast-action-link a .fast-action-icon {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 0.6rem;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lg-navbar-actions ul .fast-action-link {
    transition: transform 0.2s, background-color 0.2s;
  }
  .lg-navbar-actions ul .fast-action-link:hover {
    background-color: var(--color-gray-100);
    transform: translate(-0.1rem, -0.1rem);
  }

  /* Special fast action link */
  .send-money-action {
    --border-color: #3f6ead;
    --bg-color: #dbeafe;
    --font-color: #193cb8;
  }
  .add-money-action {
    --border-color: #c3fad7;
    --bg-color: #dbfce7;
    --font-color: #008236;
  }
  .pay-bills-action {
    --border-color: #ea9cf1;
    --bg-color: var(--color-purple-100);
    --font-color: var(--color-purple-500);
  }
  .trading-action {
    --border-color: #f4d3a6;
    --bg-color: #ffedd4;
    --font-color: #9f2d00;
  }

  /* ============================================================================
    Desktop Layout 👾🎮🎛️
    ===========================================================================
*/
  @media screen and (min-width: 1280px) {
    /* Grid Layout for finance widgets cards */

    .finance-widgets-container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
      /* Row 1 */
        "activities transactions transactions"
        /* Row 2 */
        "bills transactions transactions"
        /* Row 3 */
        "budget income payment"
        /* Row 4 */
        "budget summary payment";
    }
  }
}
