/* ========================================================
    🔨 We are Going to Build an Awousom Responsive website
    ========================================================
*/

/* Notes Steps */
/* 

*/

/* ========================================================
    Colecting informations  
    ========================================================
*/

/*

#Demo site that we want to mock it : 
https://mudabbir.vercel.app/

#Guids and Hints Thanks for Eng Maryam for All the efforts she did and still doing for us 💐

https://frontend-tasks-bice.vercel.app/assignments/5/details

>> WEbsite Font and colors <<

--->Font<---
Font-family : IBM Plex Sans Arabic,sans-serif
Note: font wieght from 100 to 700
--->Colors<---



*/

/* ========================================================
    1. GLOBAL STYLES
    ========================================================
*/

:root {
  /* Colors 100 mean light color 500 mean dark color*/
  --color-blue-600: #193cb8;
  --color-blue-500: #2854f4;
  --color-blue-400: #3b82f6;
  --color-blue-300: #dbeafe;
  --color-blue-200: #cefafe;
  --color-blue-100: #eff6ff;
  --color-black-500: #101828;
  --color-black-300: #4a5565;
  --color-black-200: #6a7282;
  --color-gray-100: #364153;
  --color-white-100: #ffffff;
  --color-white-200: #f8fafc;
  --color-white-300: #fefeff;
  --color-white-400: #f3f4f6;
  --color-white-500: #f9fafb;
  --color-green-100: #f0fdf4;
  --color-green-200: #dbfce7;
  --color-green-300: #65df95;
  --color-green-400: #00a63e;
  --color-green-500: #005f78;
  --color-green-600: #008236;
  --color-red-500: #e7000b;
  --color-red-400: #fb2c36;
  --color-red-300: #f54a00;
  --color-red-100: #ffedd4;
  --color-brown-500: #9f2d00;
  --color-purple-500: #6e11b0;
  --color-purple-100: #f3e8ff;
  --color-yellow-100: #fef9c2;
  --color-cyan-500: #0092b8;
  --color-cyan-100: #cefafe;
  --color-orange-500: #ba4d00;
  --color-pink-100: #fce7f3;
  --color-pink-500: #e60076;
  /* Spacing Unit */
  --spacing: 0.4rem;
}

/* Reset your defult settings first */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* I think it better to set the border too, because I want to add them maniually */
  border: 0 solid;
}

/* 🔨 Note : You noticed I did not reset the Margin and padding for all elements in html ? because I want to practice which elements have default padding and margin */

::selection {
  background-color: var(--color-blue-400);
  color: var(--color-white-100);
}

:focus-visible {
  outline: 3px solid #ffd700;
  outline-offset: 2px;
  border-radius: 4px;
}

html {
  /* Sets 1rem to 10px (10/16 = 62.5%) for easier scaling */
  font-size: 62.5%;
  /* I did search about why adding line-height in html and using unitless value because  
  -------------
  Setting line-height on html ensures a consistent baseline for text elements across the site. A unitless line-height (e.g., line-height: 1.5;) is relative to the element’s font size, making it flexible and maintainable. Since html is the root, this value propagates cleanly to all descendants.
  */
  line-height: 1.5;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 1.6rem;
}

/* Set Fonts Sizes */

button {
  font-size: 1.8rem;
  cursor: pointer;
}

span {
  font-size: 1rem;
}

ul {
  list-style: none;
}
span,
a {
  display: inline-block;
}
a {
  font-size: 1.6rem;
}
/* Image */
img {
  max-width: 100%;
}

/* Link */
a {
  text-decoration: none;
}

/* Global classes */

/* Aligning */

.align-text-center {
  text-align: center;
}

/* Font-sizing */

.fs-12 {
  font-size: 1.2rem;
}

.fs-14 {
  font-size: 1.4rem;
}

.fs-16 {
  font-size: 1.6rem;
}

.fs-18 {
  font-size: 1.8rem;
}

.fs-20 {
  font-size: 2rem;
}
.fs-24 {
  font-size: 2.4rem;
}
.fs-26 {
  font-size: 2.6rem;
}
.fs-28 {
  font-size: 2.8rem;
}

.fs-30 {
  font-size: 3rem;
}

.fs-36 {
  font-size: 3.6rem;
}
.fs-48 {
  font-size: 4.8rem;
}

/* Font wieght for our font IBM ARABIC it is from 100 to 700 */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
/* Line height */
/* As I can't put dot between two number 🏃‍♂️‍➡️ I put o letter */
.lh-1o2 {
  line-height: 1.2;
}
/* Inherit please from your parent (Kids👨‍👩‍👧‍👦)*/
.inhirt-plz {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.br-5 {
  border-radius: 0.5rem;
}

/* Spaces */

/* Main Sections margin buttom spacing  between each section header , main but not the footer*/

/* Margins */

.mb-4 {
  margin-bottom: 0.4rem;
}
.mb-8 {
  margin-bottom: 0.8rem;
}
.mb-16 {
  margin-bottom: 1.6rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}
.mb-28 {
  margin-bottom: 2.8rem;
}
.mb-32 {
  margin-bottom: 3.2rem;
}
.mb-48 {
  margin-bottom: 4.8rem;
}
.mb-50 {
  margin-bottom: 5rem;
}
.mb-64 {
  margin-bottom: 6.4rem;
}
.mb-128 {
  margin-bottom: 12.8rem;
}

.mr-12 {
  margin-right: 1.2rem;
}

.mr-16 {
  margin-right: 1.6rem;
}

.ml-8 {
  margin-left: 0.8rem;
}

/* Padding */
.section-bb {
  border-bottom: 0.4rem solid #000;
}
.pd-4 {
  padding: 0.4rem;
}
.pd-8 {
  padding: 0.8rem;
}
.pd-16 {
  padding: 1.6rem;
}
.pd-32 {
  padding: 3.2rem;
}

.pb-r-16 {
  padding-right: 1.6rem;
}

.pb-4 {
  padding-bottom: 0.4rem;
}

.pb-8 {
  padding-bottom: 0.8rem;
}
.pb-16 {
  padding-bottom: 1.6rem;
}
.pb-32 {
  padding-bottom: 3.2rem;
}
.pb-64 {
  padding-bottom: 6.4rem;
}

.pb-100 {
  padding-bottom: 10rem;
}
/* Special padding */

/* ========================================================
    *. Shared Classes: will used frequncy 👾🫡
    ========================================================
*/

/* Generals Components */
.section-header-component {
  margin-bottom: 4.8rem;
}

.section-padding {
  padding-block: 8rem;
}

.active {
  display: block;
}
.remove {
  display: none;
}

/* Centering Element using Flex 🐣🎉❤️ Finally */
.center-el {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

/* Display status have two role -on and -off */
.aside-display-status {
  display: none;
}

/* ============================================================================
    0. Dashboard main container ---> The container that hold all the dashboard components.🦚
    ===========================================================================
*/
/* ============================================================================
    1. Header Section ---> User information and functions 👾🫡
    ===========================================================================
*/
.main-container {
  padding-inline: 1.6rem;
  padding-block: 1.6rem 3.2rem;
  background-color: #21ff7a;
  width: 100%;
}
.header {
  border: 0.2rem solid var(--color-black-200);
  padding: calc(var(--spacing) * 2);
  border-radius: calc(var(--spacing) * 2);
  box-shadow: 0 0 0.5rem var(--color-black-200);
  margin-bottom: calc(var(--spacing) * 7);
}
.header-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header-content {
  /* background-color: #3b82f6; */
}
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* background-color: #65df95; */
}
.logo-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.8rem;
  width: calc(var(--spacing) * 12);
  height: calc(var(--spacing) * 12);
  background-color: var(--color-blue-500);
}
.logo-icon-wrapper > img {
  width: calc(var(--spacing) * 8);
}
.logo-title h1 {
  font-size: calc(var(--spacing) * 8);
}
.logo-title span {
  color: var(--color-black-200);
  font-size: calc(var(--spacing) * 3);
  font-weight: 700;
}
.user-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  /* background-color: #e7000b; */
}

.user-image > img {
  width: 4.8rem;
}
.user-status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-function {
  display: flex;
  gap: 0.8rem;
}
.function-btn {
  position: relative;
  border: 0.2rem solid var(--color-black-200);
  padding: 0.6rem 1.2rem;
  border-radius: 0.8rem;
  background-color: var(--color-white-100);
}
.function-btn i {
  font-size: 1.2rem;
}
.notification-function::after {
  content: "2";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  color: var(--color-white-400);
  font-weight: 600;
  background-color: var(--color-red-300);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  top: 0;
  right: -1.5rem;
  transform: translate(-50%, -50%);
}

.user-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  border: 0.1rem solid gray;
  padding: 0.6rem;
  border-radius: 1.6rem;
}
.user-image img {
  border-radius: 1.5rem;
}
.user-status {
  background-color: var(--color-green-200);
  padding-block: 0.5rem;
  border: 0.1rem solid var(--color-green-300);
  border-radius: 0.8rem;
  color: var(--color-green-500);
  font-size: 1.6rem;
  font-weight: 600;
}
.status-indecator {
  position: relative;
}
.status-indecator::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--color-green-300);
  border-radius: 50%;
  right: -1.2rem;
  top: 0.7rem;
  transform: translateY(-50%);
}

/* ============================================================================
    2. Aside Section ---> User Controls and Actions 👾🎮🎛️
    ===========================================================================
*/
/* It is in a 768px breakpoint and 1280px breakpoint */

/* ============================================================================
    3. Finance cards Section ---> User Over views cards 👾🎮🎛️
    ===========================================================================
*/
.finance-cards-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 7);
  margin-bottom: calc(var(--spacing) * 7);
}

.card {
  background-color: var(--color-white-100);
  padding: calc(var(--spacing) * 8);
  border-radius: calc(var(--spacing) * 4);
  box-shadow: 0 0 0.5rem var(--color-black-200);
}
.card h3 {
  color: var(--color-black-200);
}
.card p {
  font-size: 3rem;
  color: var(--color-black-500);
  font-weight: 700;
}

.card .gross-box i,
.card .gross-box span,
.card h3 {
  font-size: 1.4rem;
}
.card .gross-box span {
  font-weight: 600;
}
.card .gross-box.gross-up .fa-arrow-up,
.card .gross-box.gross-up span {
  color: var(--color-green-400);
}
.card .gross-box.gross-down .fa-arrow-down,
.card .gross-box.gross-down span {
  color: var(--color-red-500);
}

/* ============================================================================
    4. Widgets Section ---> User Over views cards 👾🎮🎛️
    ===========================================================================
*/

/* ---|||||||1- ♠️ Recent Activities Widget ||||||||--- */

.finance-widgets-container {
  background-color: #4a5565;
}
.widget-card {
  background-color: var(--color-white-100);
  padding: calc(var(--spacing) * 4);
  border-radius: calc(var(--spacing) * 4);
  box-shadow: 0 0 0.5rem var(--color-black-200);
}

.widget-card .widget-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: calc(var(--spacing) * 6);
}
/* ---> style Show more link */

.widget-card .widgt-show-all:visited,
.widget-card .widgt-show-all:visited {
  color: var(--color-black-300);
}
.widget-card .widgt-show-all > span,
.widget-card .widgt-show-all > i {
  color: var(--color-black-300);
  transition: color 0.2s;
}

.widget-card .widgt-show-all > span {
  font-size: 1.4rem;
  font-weight: 500;
}

.widget-card .widgt-show-all:hover > span {
  color: var(--color-black-500);
}
.widget-card .widgt-show-all:hover > i {
  color: var(--color-black-500);
}

.recent-activites-wrapper {
  margin-bottom: calc(var(--spacing) * 4);
}

/* I add it usinf psaudo classes so for example when we request a data from aserver when it loads more cards it will apply a margin bottom for all except the last one. */
.recent-activites-wrapper > div:not(:last-child) {
  margin-bottom: calc(var(--spacing) * 3);
}

.recent-activites-wrapper .activity-box {
  display: flex;
  align-items: flex-start;
  border-radius: calc(var(--spacing) * 2);
  padding: calc(var(--spacing) * 4);
  gap: calc(var(--spacing) * 4);
}

.activity-box .activity-category-wrapper {
  margin-right: auto;
}
.activity-box .activity-category-wrapper {
  font-size: 1.2rem;
  font-weight: 700;
}

.activity-box .activity-icon-wrapper {
  width: calc(var(--spacing) * 7.5);
  height: calc(var(--spacing) * 7.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.activity-icon-wrapper > i,
.activity-details .activity-title,
.activity-details .activity-status {
  font-size: 1.4rem;
  font-weight: 600;
}
.activity-details .activity-time,
.activity-details .activity-status {
  font-size: 1.2rem;
  font-weight: 600;
}
.activity-details .activity-status,
.activity-details .activity-time {
  color: var(--color-black-200);
}

/* Last row in recent activities widget */
.recent-activities-card .show-all-activities {
  /* background-color: lightpink; */
  padding-top: calc(var(--spacing) * 4);
  border-top: 0.1rem solid var(--color-black-200);
}

/* ---->Change link width */
.recent-activities-card .show-all-activities a {
  /* background-color: rgb(45, 159, 229); */
  width: 100%;
  text-align: center;
  color: var(--color-blue-500);
  font-size: 1.4rem;
  font-weight: 600;
}

/* My first activity card  */

/* ---> Icon color */
.create-account .activity-icon-wrapper {
  background-color: var(--color-blue-300);
}
.activity-icon-wrapper .fa-user-plus {
  color: var(--color-blue-400);
}
/* ---->create account message backgrond */
.recent-activites-wrapper .create-account {
  background-color: var(--color-blue-100);
}
/* ---->create account left edge color */
.recent-activites-wrapper .create-account {
  border-left: 0.4rem solid var(--color-blue-400);
}
/* ---->create account category badge */
.create-account .activity-category-wrapper .activity-category {
  color: var(--color-blue-400);
}
/* My Second activity card  */

/* ---> Icon color */
.add-new-card .activity-icon-wrapper {
  background-color: var(--color-green-200);
}
.activity-icon-wrapper .fa-credit-card {
  color: var(--color-green-400);
}
/* ---->create account message backgrond */
.recent-activites-wrapper .add-new-card {
  background-color: var(--color-green-100);
}
/* ---->create account left edge color */
.recent-activites-wrapper .add-new-card {
  border-left: 0.4rem solid var(--color-green-400);
}
/* ---->create account category badge */
.add-new-card .activity-category-wrapper .activity-category {
  color: var(--color-green-400);
}

/* ---|||||||2- ♥️ Recent transactions Widget ||||||||--- */

/* --->  Styling the card container */

.recent-transactions-card {
  background-color: lightsalmon;
}

/* Header widget contain the widget title and show all link */
.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.recent-transactions-card .widget-title {
  background-color: lightslategray;
}

.recent-transactions-card .show-all-transaction-link {
  background-color: lightpink;
}

/* --->  Styling the Recent transactions table */

.recent-transaction-table {
  background-color: lightcyan;
}

/* ---> Styling the user image first of all */
.table-body .row-1 .col-1 .transaction-by-info {
  background-color: lightyellow;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.transaction-by-info .transaction-by-image {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 50%;
  background-color: #000;
}
.transaction-by-info .transaction-by-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* ---> Fix the table width to be 100% from its parent and add some guidline border */
.recent-transactions-wrapper {
  background-color: lightslategray;
}
.recent-transaction-table {
  min-width: 100%;
  border-collapse: collapse;
  border: 0.2rem solid black;
}

.recent-transaction-table td,
.recent-transaction-table th {
  border: 0.2rem solid black;
  padding: 0.8rem 0.4rem;
  font-size: 1.2rem;
  text-align: right;
  color: var(--color-gray-100);
}

.recent-transaction-table td {
  font-weight: 600;
}

/* --->  prepar the info first column cell the below make the image side by side */
.table-body .row .col-1 .transaction-by-info {
  background-color: lightyellow;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ---> Styling the user image first of all */

.transaction-by-info .transaction-by-image {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 50%;
  background-color: #000;
}
.transaction-by-info .transaction-by-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* ---> I npticed not all contain an image some have icons so im going to creat spacific role for icons */
.transaction-by-info .transaction-by-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--bg-badge);
}
.transaction-by-info .transaction-by-icon i {
  font-size: 1.2rem;
  color: var(--font-color);
}

/* ---> Styling the user name and the transaction he did. */

.transaction-by-info .transaction-by-detail p {
  line-height: 1.2;
}
.transaction-by-info .transaction-by-detail span {
  font-weight: 700;
  color: var(--color-black-200);
}

/* I'm going to style a class called category it will be for all same color then I'm going to change for spacifig by using bootstarp techniqe that we learned last session*/
.category-badge {
  padding: 0.2rem 1rem;
  width: fit-content;
  background-color: var(--bg-badge);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 2rem;
}
.category-badge > .badge-icone i,
.category-badge > .badge-type {
  color: var(--font-color);
  font-size: inherit;
  font-weight: inherit;
}
/* Now I'm going to add a badge type for each I have  */
.income-badge {
  --bg-badge: #dbfce7;
  --font-color: #008236;
}
.food-badge {
  --bg-badge: #ffedd4;
  --font-color: #9f2d00;
}
.shopping-badge {
  --bg-badge: #dbeafe;
  --font-color: #193cb8;
}
.installments-badge {
  --bg-badge: #f3e8ff;
  --font-color: #6e11b0;
}
.transportation-badge {
  --bg-badge: #ffe2e2;
  --font-color: #9f0712;
}
.entertainment-badge {
  --bg-badge: #e0e7ff;
  --font-color: #372aac;
}
.health-badge {
  --bg-badge: #cefafe;
  --font-color: #005f78;
}

/* ---> Now we will style a status badge that located ib column 4 we have two states we can add later */

/* General status badge style */
.status-badge {
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--bg-badge);
  color: var(--font-color);
}

/* Status */
.completed-status {
  --bg-badge: #dbfce7;
  --font-color: #008236;
}
.pending-status {
  --bg-badge: #fef9c2;
  --font-color: #894b00;
}

/*---> Now I'm going to add to mony status as + positive that we got a mony and - negative we spend money  */
.col.get-money {
  color: var(--color-green-600);
}
.col.spend-mony {
  color: var(--color-red-300);
}

/* ---|||||||3- ♦️ Monthly bills Widget ||||||||--- */

.monthly-bills-overview {
  text-align: center;
  margin-bottom: 1.6rem;
}

.monthly-bills-overview .total-bills-number {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}
.monthly-bills-overview .total-bills-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-black-200);
}
.bill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white-500);
  border-radius: 0.8rem;
  padding: 1.2rem;
  border: 0.1rem solid var(--color-black-200);
  flex-grow: 1;
}
.bills-details-wrapper .row {
  display: flex;

  justify-content: center;
  gap: 1rem;
}
.bills-details-wrapper .row-1 {
  margin-bottom: 1rem;
}
/* ---> start with bill card general rule */
.bill-card .bill-icon {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  background-color: var(--bg-badge);
}
.bill-card .bill-icon i {
  font-size: 1.6rem;
  color: var(--font-color);
}
.bill-card .bill-title,
.bill-card .bill-due {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-black-200);
}

.bill-card .bill-total {
  font-size: 1.6rem;
  font-weight: 600;
}

/* special style for each icon */
.bill-due.due-warning {
  color: var(--color-red-300);
}
.bill-due.due-safe {
  color: var(--color-green-600);
}
.internet-icon {
  --bg-badge: #dbeafe;
  --font-color: #193cb8;
}
.electricity-icon {
  --bg-badge: #fef9c2;
  --font-color: #894b00;
}
.phone-icon {
  --bg-badge: #dbfce7;
  --font-color: #008236;
}
.entertainment-icon {
  --bg-badge: #ffe2e2;
  --font-color: #9f0712;
}

/* ============================================================================
    Media Quary 👾🎮🎛️
    ===========================================================================
*/
/* 

---> Media Query <---

Breakpoint	Class infix	Dimensions
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px

*/
@media screen and (min-width: 500px) {
}
@media screen and (min-width: 509px) {
}
@media screen and (min-width: 640px) {
  .header-content {
    flex-direction: row;
    align-items: center;
    background-color: #65df95;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #96a4e7;
    align-content: center;
    width: calc(var(--spacing) * 70);
  }

  .user-wrapper {
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    background-color: #e7000b;
    justify-self: end;
    order: 3;
  }
  .user-status {
    order: 2;
    width: 9rem;
  }
}

@media screen and (min-width: 768px) {
  .dashboard-container {
    display: flex;
  }
  .main-container {
    margin-right: 1.6rem;
    padding: 3.2rem;
  }
  .header {
    padding: calc(var(--spacing) * 3);
    border-radius: 0.8rem;
    box-shadow: 0 0 0.5rem var(--color-black-200);
  }
  .logo-icon-wrapper {
    width: calc(var(--spacing) * 16);
    height: calc(var(--spacing) * 16);
  }
  .logo-title h1 {
    font-size: calc(var(--spacing) * 9);
  }
  .logo-title span {
    font-size: calc(var(--spacing) * 3.5);
  }
  /* ============================================================================
    2. Aside Section ---> User Controls and Actions 👾🎮🎛️
    ===========================================================================
*/
  /* For testing  */
  .dashboard-container {
    background-color: #005f78;
  }
  .aside-display-status {
    display: block;
  }
  .aside-lg-status {
    display: none;
  }

  .aside-nav-container {
    display: fixed;
    top: 0;
    bottom: 0;
    width: calc(var(--spacing) * 17);
    /* background-color: #21ff7a; */
  }

  .aside-nav-mediaum {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #96a4e7;
    padding: calc(var(--spacing) * 4);
    padding: calc(var(--spacing) * 3);
    width: 100%;
  }
  .aside-logo-wrapper {
    width: calc(var(--spacing) * 7.5);
    height: calc(var(--spacing) * 10);
    background-color: var(--color-blue-500);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(var(--spacing) * 5);
    padding: var(--spacing);
    margin-bottom: calc(var(--spacing) * 8);
  }
  .aside-nav-list {
    background-color: #dbfce7;
    margin-bottom: calc(var(--spacing) * 5);
  }
  .aside-nav-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--spacing) * 6);
  }
  .aside-nav-list ul li a i {
    font-size: calc(var(--spacing) * 4);
  }
  .aside-nav-list ul li a img {
    width: calc(var(--spacing) * 5);
  }
  .active-list-box {
    background-color: var(--color-blue-100);
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);
    padding: calc(var(--spacing) * 2);
    border-radius: calc(var(--spacing) * 3);
    border-width: calc(var(--spacing) / 2);
    border-style: solid;
  }
  .aside-nav-list ul .md-home a i {
    color: var(--color-blue-400);
  }
  .aside-nav-list ul li a i {
    color: var(--color-black-200);
  }

  /* ============================================================================
    3. Finance cards Section ---> User Over views cards 👾🎮🎛️
    ===========================================================================
*/
  .finance-cards-container {
    flex-direction: row;
    gap: calc(var(--spacing) * 5);
    background-color: #ba4d00;
    justify-content: space-between;
  }

  .card {
    flex: 1 1 0%;
  }
}
@media screen and (min-width: 1024px) {
  /* ============================================================================
    3. Finance cards Section ---> User Over views cards 👾🎮🎛️
    ===========================================================================
*/
  .card p {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .aside-md-status {
    display: none;
  }
  .aside-lg-status {
    display: block;
  }
  /* ============================================================================
    2. Aside Section ---> User Controls and Actions 👾🎮🎛️
    ===========================================================================
*/
  .aside-nav-container {
    width: calc(var(--spacing) * 65);
    padding: calc(var(--spacing) * 6);
  }
  .aside-nav-larg {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 8);
  }
  .logo-row {
    background-color: #65df95;
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 4);
  }
  .logo-text-wrapper h2 {
    font-size: calc(var(--spacing) * 9);
    line-height: 1.3;
  }
  .logo-text-wrapper span {
    font-size: calc(var(--spacing) * 3);
    font-weight: 700;
    color: var(--color-black-200);
  }
  .lg-navbar-links {
    background-color: lightcyan;
  }
  .lg-navbar-links ul,
  .lg-navbar-actions ul {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4);
  }
  .lg-navbar-links ul li,
  .lg-navbar-actions ul li {
    border: 0.1rem solid black;
    border-radius: 0.8rem;
  }
  .lg-navbar-links ul li a,
  .lg-navbar-actions ul li a {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    padding: 1.2rem 1.6rem;
    /* Icone size */
    font-size: 1.8rem;
  }
  .lg-navbar-links ul li a span,
  .lg-navbar-actions ul li a span {
    /* Icone size */
    font-size: 1.6rem;
  }
  .badget-icon {
    width: calc(var(--spacing) * 6);
  }
  .badget-icon img {
    display: block;
  }
  /* Row 3 */
  .lg-navbar-actions {
    background-color: lightpink;
  }
  .lg-navbar-actions > span {
    font-size: 1.6rem;
    margin-bottom: calc(var(--spacing) * 6);
  }
}
